<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

        <head>
            <title>Cafetería - Inicio</title>
            <link rel="stylesheet" th:href="@{/css/estilos.css}">
        </head>

        <body>

            <header>
                <div class="logo">Tu Tienda Online</div>
            </header>

            <!-- MENÚ LATERAL -->

            <aside>

                <h3>Menú</h3>

                <ul>

                    <li>
                        <a th:href="@{/}">Inicio</a>
                    </li>

                    <li>
                        <a th:href="@{/producto/listado}">Productos</a>
                    </li>

                    <li>
                        <a th:href="@{/ventas/listado}">Ventas</a>
                    </li>

                    <li>
                        <a th:href="@{/perfil}">Perfil</a>
                    </li>

                    <li>
                        <a th:href="@{/logout}">Cerrar sesión</a>
                    </li>

                </ul>

            </aside>

            <!-- CONTENIDO PRINCIPAL -->

            <section>

                <h2>Menú de la Cafetería</h2>

                <div class="productos-container">

                    <div class="producto-card" th:each="p : ${productos}">

                        <img th:src="${p.imagen}" alt="Producto">

                            <h3 th:text="${p.descripcion}"></h3>

                            <p th:text="'₡ ' + ${p.precio}"></p>

                    </div>

                </div>

            </section>

        </body>

    </html>