<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

        <head>
            <link rel="stylesheet" th:href="@{/css/estilos.css}">
        </head>

        <body>

            <header>

                <nav>

                    <div class="logo">☕ Cafetería</div>

                </nav>

            </header>

            <section>

                <h2>Perfil de Usuario</h2>

                <p>Nombre: Usuario</p>

                <p>Rol: Administrador / Usuario</p>

            </section>

        </body>

    </html>